body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-image: url(Images/download.jpg);
  background-size: 100% 480px;
  background-repeat: no-repeat;
  background-position: fixed;
  color: white;
}

#header {
  /* background-color: aqua; */
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-around;
}

#header-img {
  width: 9%;
  height: auto;
  margin-left: 50px;
}

ul {
  margin-left: 230px;
  display: flex;
  justify-content: space-around;
}

#nav-bar li {
  margin: 10px;
  list-style-type: none;
  padding: 10px;
}

#nav-bar a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

#nav-bar a:hover {
  text-decoration: none;
  color: #ffbe28;
  font-weight: bold;
  font-size: 18px;
}

button {
  margin: 30px 60px 30px 10px;
  padding-top: 0;
  height: 40px;
  width: 14%;
  border-radius: 50px;
  background-color: #ffbe28;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

button:hover {
  color: #ffbe28;
  background-color: aliceblue;
  font-weight: bold;
}

#main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#text-section {
  width: 50%;
  margin: 20px 100px;
}

#image-section {
  width: 50%;
}

#text-section h1 {
  font-family: "Dancing Script";
  font-size: 50px;
  margin-bottom: 0;

}

#text-section p {
  margin-top: 10px;
  width: 80%;
  text-align: justify;
  font-family: "Dancing Script";
}

#image-section img {
  width: 60%;
  height: 250px;
  margin-top: 50px;
}

#header-icons {
  margin-top: 40px;
  margin-left: 100px;
}

#header-icons i {
  margin-left: 10px;
}

table {
  background-color: aqua;
  width: 100%;
  height: auto;
  margin-top: 130px;
}

.font-dancing-script-<uniquifier > {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.font-edu-tas-beginner-<uniquifier > {
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


#j {
  animation: moveUpDown 5s ease-in-out infinite;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}




