body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-image: url(Images/download.jpg);
  background-size: 100% 530px;
  background-repeat: no-repeat;
  background-position: fixed;
  color: white;
}

#header {
  /* background-color: aqua; */
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-around;
}

#header-img {
  width: 9%;
  height: auto;
  margin-left: 50px;
}

ul {
  margin-left: 230px;
  display: flex;
  justify-content: space-around;
}

#nav-bar li {
  margin: 10px;
  list-style-type: none;
  padding: 10px;
}

#nav-bar a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

#nav-bar a:hover {
  text-decoration: none;
  color: #ffbe28;
  font-weight: bold;
  font-size: 18px;
}

button {
  margin: 30px 60px 30px 10px;
  padding-top: 0;
  height: 40px;
  width: 14%;
  border-radius: 50px;
  background-color: #ffbe28;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

button:hover {
  color: #ffbe28;
  background-color: aliceblue;
  font-weight: bold;
}

#main {
  display: flex;
  align-items: center;
  justify-content:space-around;
}

#text-section {
  width: 50%;
  margin: 100px;
}

#image-section {
  width: 50%;
}

#text-section h1 {
}

#text-section p {
  width: 70%;
  text-align: justify;
}

#image-section img {
  width: 70%;
  height: 280px;
  transition: opacity 0.5s ease-in-out 0.2s;
}

#header-icons {
  margin-top: 40px;
  margin-left: 100px;
}

#header-icons i {
  margin-left: 10px;
}

